// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #7EBBE4;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-iframe {
  background-color: #7EBBE4;
  padding: 3px 0px 0px 0px !important;

  iframe {
    width: 100%;
    height: 100%;
  }
}
