.widget-bcycle {
  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}

.bcycle-status-active {
  background-color: #242876;
}

.bcycle-status-unavailable {
   background-color: #999999;
}

.bcycle-status-unknown {
   background-color: #999999;
}