/*
  BNAGH CSS Tweaks
*/

// Orange
div[data-grid-height="1080"] {
  .icon-background {
    font-size: 190px;
  }
  [data-sizey="1"] .icon-background {
    top: -15px;
  }
  [data-sizey="2"] .icon-background {
    top: 150px;
  }
  [data-sizey="3"] .icon-background {
    top: 330px;
  }
}

// Keg Left / Right
div[data-grid-height="768"] {
  h1 {
    font-size: 135%;
  }
  h2 {
    font-size: 180%;
  }
  .icon-background {
    font-size: 190px;
  }
  [data-sizey="1"] .icon-background {
    top: -60px;
  }
  [data-sizey="2"] .icon-background {
    top: 70px;
  }
  [data-sizey="3"] .icon-background {
    top: 225px;
  }
}

// Door
div[data-grid-height="1024"] {
  .icon-background {
    font-size: 190px;
  }
  [data-sizey="1"] .icon-background {
    top: -15px;
  }
  [data-sizey="2"] .icon-background {
    top: 150px;
  }
  [data-sizey="3"] .icon-background {
    top: 330px;
  }
}

// Television
div[data-grid-height="984"] {
  [data-sizey="1"] .icon-background {
    top: -60px;
  }
  [data-sizey="2"] .icon-background {
    top: 80px;
  }
  [data-sizey="3"] .icon-background {
    top: 120px;
  }
}
