/*
  BNAGH CSS Tweaks
*/

div[data-grid-height="768"] {
  h1 {
    font-size: 135%;
  }
  h2 {
    font-size: 180%;
  }
  [data-sizey="1"] .icon-background {
    top: -100px;
  }

  [data-sizey="2"] .icon-background {
    font-size: 190px;
    top: 25px;
  }

  [data-sizey="3"] .icon-background {
    top: 120px;
  }
}

div[data-grid-height="900"] {
  h1 {
    font-size: 135%;
  }
  h2 {
    font-size: 180%;
  }
  [data-sizey="1"] .icon-background {
    font-size: 190px;
    top: -40px;
  }

  [data-sizey="2"] .icon-background {
    font-size: 190px;
    top: 50px;
  }

  [data-sizey="3"] .icon-background {
    top: 140px;
  }
}

div[data-grid-height="984"] {
  [data-sizey="1"] .icon-background {
    top: -60px;
  }

  [data-sizey="2"] .icon-background {
    top: 80px;
  }

  [data-sizey="3"] .icon-background {
    top: 120px;
  }
}

div[data-grid-height="1024"] {
  [data-sizey="1"] .icon-background {
    top: -60px;
  }

  [data-sizey="2"] .icon-background {
    top: 80px;
  }

  [data-sizey="3"] .icon-background {
    top: 120px;
  }
}
