<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [258, 240]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>1366 x 768<% end %>

<div class="gridster" data-grid-width="1366" data-grid-height="768">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="foursquare" data-view="List" data-unordered="true" data-title="Swarm Checkins"></div>
      <i class="fa fa-foursquare icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stall_status" data-view="Image" data-width="150" data-title="Stall Status"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="uber_pickup_time" data-view="List" data-unordered="true" data-title="Get an Uber"></div>
      <i class="fa fa-taxi icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Comments"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

  </ul>
</div>
