<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [258, 240]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>1366 x 768<% end %>

<div class="gridster" data-grid-width="1366" data-grid-height="768">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="foursquare" data-view="List" data-unordered="true" data-title="Swarm Checkins" data-moreinfo="Where is everyone?" style="background: -moz-linear-gradient(center top , #fd9627, #ffa633) repeat scroll 0 0 rgba(0, 0, 0, 0);"></div>
      <i class="fa fa-foursquare icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-moreinfo="In sync with my neighbour!" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="uber_pickup_time" data-view="List" data-unordered="true" data-title="Get an Uber" data-moreinfo="Estimated time to pickup from current location."></div>
      <i class="fa fa-taxi icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #github"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

  </ul>
</div>
