<script type='text/javascript'>
$(function() {
//Dashing.widget_base_dimensions = [w,   h  ]
  Dashing.widget_base_dimensions = [275, 285]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>1440 x 900<% end %>

<div class="gridster" data-grid-width="1440" data-grid-height="900">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new 1080p dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin" data-view="Number" data-title="Bitcoin Price" style="background-color:#96bf48;"></div>
      <i class="icon-bitcoin icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="fitbit_leaderboard" data-view="FitbitLeaderboard" data-title="Fitbit Leaders" style="background-color:#47bbb3;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_2165" data-view="Bcycle"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_2177" data-view="Bcycle"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
      <div data-id="uber_pickup_time" data-view="List" data-unordered="true" data-title="Get an Uber" data-moreinfo="Estimated time to pickup from current location."></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #github"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

  </ul>
</div>
