<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [350, 320]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>1824 x 984<% end %>

<div class="gridster" data-grid-width="1824" data-grid-height="984">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new 1080p dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="karma" data-view="Number" data-title="Karma" style="background-color:#96bf48;"></div>
      <i class="fa fa-heart icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="fitbit_leaderboard" data-view="FitbitLeaderboard" data-title="Fitbit Leaders" style="background-color:#47bbb3;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="fucks_given" data-view="Meter" data-title="Fucks Given" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Care Mad" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
      <div data-id="uber_pickup_time" data-view="List" data-unordered="true" data-title="Get an Uber" data-moreinfo="Estimated time to pickup from current location."></div>
      <i class="fa fa-taxi icon-background"></i>
    </li>

    <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #github"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

  </ul>
</div>
