<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [308, 328]
  Dashing.numColumns = 4
});
</script>

<% content_for :title do %>Door<% end %>

<div class="gridster" data-grid-width="1280" data-grid-height="1024">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uber_pickup_time" data-view="List" data-unordered="true" data-title="Get an Uber"></div>
      <i class="fa fa-taxi icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lyft_pickup_time" data-view="List" data-unordered="true" data-title="Get a Lyft"></div>
      <i class="fa fa-taxi icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_nashville_2165" data-view="Bcycle"></div>
      <i class="fa fa-bicycle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_nashville_2177" data-view="Bcycle"></div>
      <i class="fa fa-bicycle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_nashville_2315" data-view="Bcycle"></div>
      <i class="fa fa-bicycle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="Burrito Bus" data-id="nextbus_MCC4_14" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="ENBW Bus" data-id="nextbus_MCC4_22" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="Route 50" data-id="nextbus_MCC5_1" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="Route 10" data-id="nextbus_MCC5_3" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="Route 19" data-id="nextbus_MCC5_4" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="Route 3" data-id="nextbus_MCC5_5" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

  </ul>
</div>
