<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [258, 240]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Keg Left<% end %>

<div class="gridster" data-grid-width="1366" data-grid-height="768">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="uber_pickup_time" data-view="List" data-unordered="true" data-title="Get an Uber"></div>
      <i class="fa fa-taxi icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="lyft_pickup_time" data-view="List" data-unordered="true" data-title="Get a Lyft"></div>
      <i class="fa fa-taxi icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="enbw" data-view="Enbw" data-title="On Tap at ENBW" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin" data-view="Number" data-title="Bitcoin Price"></div>
      <i class="fa fa-bitcoin icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="etherium" data-view="Number" data-title="Etherium Price"></div>
      <i class="fa fa-bitcoin icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="Burrito Bus" data-id="nextbus_MCC4_14" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-title="ENBW Bus" data-id="nextbus_MCC4_22" data-view="Countdown"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam6" data-view="Image" data-image="http://planck:8080/bigscreen/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam3" data-view="Image" data-image="http://planck:8080/digdug/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam1" data-view="Image" data-image="http://planck:8080/rpi-office-01/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam2" data-view="Image" data-image="http://planck:8080/rpi-office-02/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam4" data-view="Image" data-image="http://planck:8080/door/" data-width="210" data-height="210"></div>
    </li>

  </ul>
</div>
