<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [258, 240]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Keg Left<% end %>

<div class="gridster" data-grid-width="1366" data-grid-height="768">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin" data-view="Number" data-title="Bitcoin Price"></div>
      <i class="fa fa-bitcoin icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fucks_given" data-view="Meter" data-title="Fucks Given" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Caremad" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="fitbit_list" data-view="List" data-unordered="false"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam6" data-view="Image" data-image="https://puppycam.thebikeshed.io/bigscreen/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam1" data-view="Image" data-image="https://puppycam.thebikeshed.io/rpi-office-01/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam2" data-view="Image" data-image="https://puppycam.thebikeshed.io/rpi-office-02/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam3" data-view="Image" data-image="https://puppycam.thebikeshed.io/digdug/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam4" data-view="Image" data-image="https://puppycam.thebikeshed.io/door/" data-width="210" data-height="210"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cam5" data-view="Image" data-image="https://puppycam.thebikeshed.io/keg-right/" data-width="210" data-height="210"></div>
    </li>

  </ul>
</div>
