<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [308, 328]
  Dashing.numColumns = 4
});
</script>

<% content_for :title do %>Door<% end %>

<div class="gridster" data-grid-width="1280" data-grid-height="1024">
  <ul>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
    </li>

  </ul>
</div>
