<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [294, 328]
  Dashing.numColumns = 6
});
</script>

<% content_for :title do %>Door<% end %>

<div class="gridster" data-grid-width="1920" data-grid-height="1080">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nextbus_6AVCHUSN" data-view="Text"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nextbus_5AVCHUNM" data-view="Text"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nextbus_5AVCHUNN" data-view="Text"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nextbus_UNI6AWN" data-view="Text"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_2165" data-view="Bcycle"></div>
      <i class="fa fa-bicycle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_2177" data-view="Bcycle"></div>
      <i class="fa fa-bicycle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_2315" data-view="Bcycle"></div>
      <i class="fa fa-bicycle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bcycle_2684" data-view="Bcycle"></div>
      <i class="fa fa-bicycle icon-background"></i>
    </li>

  </ul>
</div>

