<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [350, 320]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Television<% end %>

<div class="gridster" data-grid-width="1824" data-grid-height="984">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin" data-view="Number" data-title="Bitcoin Price"></div>
      <i class="fa fa-bitcoin icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="etherium" data-view="Number" data-title="Etherium Price"></div>
      <i class="fa fa-bitcoin icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-view="Iframe" data-url="https://calendar.google.com/calendar/embed?src=tkt9d306v5k4b2tra6mjf23mck%40group.calendar.google.com&ctz=America/Chicago&output=embed"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fucks_given" data-view="Meter" data-title="Fucks Given" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Caremad" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nextbus_6AVCHUSN" data-view="Text"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nextbus_5AUNISM" data-view="Text"></div>
      <i class="fa fa-bus icon-background"></i>
    </li>

  </ul>
</div>
